%section.content-header
  %h1
    Imagens do Potif贸lio -
    = "#{@portifolio.title}"
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => "/admin"}
        %i.fa.fa-dashboard
        Home 
    %li
      %a{:href => "#{admin_portifolios_path()}"}
        %i.fa.fa-dashboard
        Portif贸lios 
    %li.active Imagem do Portif贸lio


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title Editar Imagem do Portif贸lio
        / /.box-header
        / form start
        = render 'form'
      

      %p
        = link_to t("back_list"), admin_portifolio_portifolio_images_path(@portifolio), :class => "btn btn-default"
        = link_to t("show"), admin_portifolio_portifolio_image_path(@portifolio, @portifolio_image), :class => "btn btn-default"
